= form_for @agent, :url => agent_path(@agent), :method => :put do |f|
  = f.label :name, "Agent Name"
  = f.text_field :name
  %br
  = link_to 'new Contact', new_contact_path(@agent)
  %table{:border=>"1"}
    %tr
      %td Contact
      %td Edit
      %td Delete
    - @contacts.each do |contact|
      %tr
        %td= link_to contact.addr, contact_path(contact)
        %td= link_to 'edit', edit_contact_path(contact)
        %td= link_to 'delete', contact_path(contact), :method => :delete
  = f.submit "Done"