//= link_to 'agent_path', agent_path
//= link_to 'new_agent_path', new_agent_path
//= link_to 'edit_agent_path', edit_agent_path
//= link_to current_user.email,  edit_agent_path

= link_to 'new agent', new_agent_path
%table{:border=>"1"}
  %tr
    %td Agent Name
    %td Edit
    %td Delete
  - @agents.each do |agent|
    %tr
      %td= link_to agent.name, agent_path(agent)
      %td= link_to 'edit', edit_agent_path(agent)
      %td= link_to 'delete', agent_path(agent), :method => :delete
