///<%= form_for @contact, :url => contact_path(@contact), :method => :post do |f| %>
//    <%= f.label :addr, "Contact" %>
//    <%= f.text_field :addr %>
//    <%= f.label :agent_id, "agent_id" %>
//    <%= f.text_field :agent_id %>
//    <%= f.submit "Create" %>
//<% end %>

= form_for @contact, :url => contact_path(@contact), :method => :post do |f|
  = f.label :addr, "Contact"
  = f.text_field :addr
  = f.label :agent_id, "agent_id"
  = f.text_field :agent_id

  = f.submit "Create"
